doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='https://maps.google.com/maps/api/js?key=AIzaSyDC337kqCvlY_8QGbp9eMe1A3tH3PrgVDQ')
    script(type='text/javascript', src='/javascripts/script.js')